* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: arial, sans-serif;
	
}

nav {
	background-color: #ffffff;
	color: #000000;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: .05em;
	padding: 40px 60px;
	overflow: auto;
}

nav ul {
	margin: 0;
}

nav li {
	float: left;
	list-style: none;
	margin-right: 200px;
	


}

