* {
	box-sizing: border-box;
}

html {
		font-weight: 400;
}

body {
	font-family: arial, sans-serif;
	margin: 0;
}

.background {
	background-image: url("joists.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	background-color: #3c3f41;
	color: #ffffff;
	padding: 40px 60px;
}

nav ul {
	padding: 0;
	text-align: center;
	overflow: auto;
}

nav li {
	float: left;
	list-style: none;
	width: 33%;
}

nav li:hover {
	color: black;
}	

li a {
	color: #ffffff;
}

header {
	color: #ffffff;
	font-size: 40px;
	padding: 10px 20px;
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.portfolio {
	margin: 20px 20px;
	overflow: auto;
	padding-left: 5%;
}

.portfolio .project {
	width: 30%;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	margin: 5px;
	background-color: white;
}

.portfolio #projectOne {
	background-image: url("orbitScreenShot.png");
}

.portfolio #projectTwo {
	background-image: url("geckos.png");
	/*margin: 2px;*/
}

.portfolio #projectThree {
	background-image: url("grubby.png");
}
.container {
	text-align: left;
}

.container h1 {
	color: #ffffff;
	font-size: 30px;
	letter-spacing: .05rem;
	margin: 30px;
	font-weight: bold;
}	

.container p {
	color: #ffffff;
	font-size: 20px;
	letter-spacing: .05rem;
	margin: 30px;
	padding-left: 5%;
	text-align: center;
}

footer h1 {
	color: #ffffff;
	font-size: 20px;
	margin: 30px;
	text-align: center;
	letter-spacing: 0.05rem;
}

h3 {
	text-align: center;
}

a.email {
	 color: #ffffff;
}

.footbar {
	background-color: #3c3f41;
	color: #ffffff;
	padding: 40px 60px;
}

@media screen and (max-width: 1220px){
	nav {
		font-size: .95rem;
	}
	
	header {
		font-size: .95rem;
	}
	
	.portfolio .project {
		width: 100%;
	}

	.container p {
		font-size: .95rem;
	}
	
	.footer p {
		font-size: .95rem;
	}
}

@media screen and (max-width: 500px){
	nav {
		font-size: .95rem;
	}
	
	header {
		font-size: .95rem;
	}
}
	
@media screen and (min-width: 500px){
	.portfolio .project {
		height: 400px;
	}
}